{{# if products }}
  <div class="row">
    <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3" style="margin-bottom: 15px;">
      <ul class="list-group">
        {{# each products }}
          <li class="list-group-item">
            <strong>{{ this.item.title }}</strong>
            <span class="badge badge-success">£{{ this.item.price }}</span>
            <div class="btn-group">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Action <span class="caret"></span></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Reduce by 1</a></li>
                <li><a class="dropdown-item" href="#">Remove All</a></li>
              </ul>
            </div>
            <span class="badge badge-info float-right">{{ this.qty }}</span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3" style="margin-bottom: 15px;">
      <strong>Total: £{{ totalPrice }}</strong>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3" style="margin-bottom: 15px;">
      <a href="/checkout"><button type="button" class="btn btn-success">Checkout</button></a>
    </div>
  </div>
{{ else }}
  <div class="row">
    <div class="col-sm-6 col-md-6 offset-sm-3 offset-md-3" style="margin-bottom: 15px;">
      <h2>No Items in Cart</h2>
    </div>
  </div>
{{/if}}
